if SHIELD_MY_KB_LEFT
    config ZMK_KEYBOARD_NAME
    	default "my_kb_left"
endif

if SHIELD_MY_KB_RIGHT
    config ZMK_KEYBOARD_NAME
    	default "my_kb_right"


endif

if SHIELD_MY_KB_LEFT || SHIELD_MY_KB_RIGHT

    config ZMK_SPLIT
            default y

endif