#include "my_kb.dtsi"


#include <input/processors.dtsi>
#include <behaviors/input_gestures_accel.dtsi>
&default_transform {
    col-offset = <7>; // 右手側だけこれが必要
};
&kscan0 {
    col-gpios
        = <&gpio0 17 GPIO_ACTIVE_HIGH>
        , <&gpio0 20 GPIO_ACTIVE_HIGH>
        , <&gpio0 22 GPIO_ACTIVE_HIGH>
        , <&gpio0 24 GPIO_ACTIVE_HIGH>
        , <&gpio1  0 GPIO_ACTIVE_HIGH>
        , <&gpio0 11 GPIO_ACTIVE_HIGH>
        , <&gpio1  4 GPIO_ACTIVE_HIGH>
        ;

    row-gpios
        = <&gpio1 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio1 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio1 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio0  9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;
};
&pointer_accel {
    input-type = <INPUT_EV_REL>;  // For relative input devices
    track-remainders;             // Accumulate fractional movements
    min-factor = <800>;          // 0.8x at very slow speeds
    max-factor = <3000>;         // 3.0x at fast speeds
    speed-threshold = <1200>;     // 1200 counts/sec for 1x
    speed-max = <6000>;          // 6000 counts/sec for max accel
    acceleration-exponent = <2>;  // Quadratic acceleration curve
};
/ {
    tpad0: tpad0 {
        compatible = "zmk,input-listener";
        status = "okay";
        device = <&glidepoint>;
        input-processors = <
            &pointer_accel      // Acceleration processor
            &zip_xy_transform
        >;
    };
        anin0: analog_input_0 {
        compatible = "zmk,analog-input";
        status = "okay";
        sampling-hz = <100>;
        
        x-ch {
            io-channels = <&adc 5>; 
            mv-mid = <1650>;
            mv-min-max = <1600>;
            mv-deadzone = <30>;
            scale-multiplier = <1>;
            scale-divisor = <100>;
            evt-type = <INPUT_EV_REL>;
            input-code = <INPUT_REL_X>;
        };
        y-ch {
            io-channels = <&adc 0>; 
            mv-mid = <1650>;
            mv-min-max = <1600>;
            mv-deadzone = <30>;
            scale-multiplier = <1>;
            scale-divisor = <100>;
            evt-type = <INPUT_EV_REL>;
            invert;
            input-code = <INPUT_REL_Y>;
        };
        };
};