#include "my_kb.dtsi"
/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &layout0;
    };

    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;
        col-gpios
        = <&gpio0  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // COL0: P0.17
        , <&gpio0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // COL1: P0.20
        , <&gpio0  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // COL2: P0.22
        , <&gpio0  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // COL3: P0.24
        , <&gpio1  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // COL4: P1.00 (32番目)
        , <&gpio0  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // COL5: P0.11
        , <&gpio1  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // COL6: P1.04 (36番目)
        ;
        row-gpios
        = <&gpio1 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW0: P1.15
        , <&gpio1 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW1: P1.13
        , <&gpio1 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW2: P1.11
        , <&gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW3: P0.10
        , <&gpio0  9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // ROW4: P0.09
        ;

    };

    layout0: layout0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
        kscan = <&kscan0>;
    };
};